/* 
Web Design Pro 2022
Title: BallStory ❤ (Animation Practice)
Dev By: Amir Hossein Khateri - 14001006 
Description: create with keyframes transition and position, but if you use transform property instead of position for moving a ball is better.z
*/

/* Settings: */
:root {
   --ballSize: 50px;
   --animationTime: 10s;
}

/* Layout Style */
body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 85vh;
   background: rgb(230, 230, 230);
}

audio {
   margin-top: 20px;
}

.animationBox {
   background: rgb(250 250 250);
   width: 900px;
   height: 400px;
   margin-top: 50px;
   border-radius: 20px;
   border: 1px solid rgb(201, 201, 201);
   box-shadow: -9px 20px 12px -3px rgba(207, 207, 207, 0.842),
      inset 0 1px 18px rgb(232 232 232),
      4px -4px 12px -9px rgba(112, 112, 112, 0.84);
   position: relative;
}

.wall {
   width: 50px;
   height: 12px;
   border-radius: 2px;
   background: rgb(134, 134, 134);
   position: absolute;
   top: calc(var(--ballSize) + 30px);
   left: 40px;
}

h3,
h4,
h5,
h6 {
   margin: 0;
   font-family: iransans, "source sans pro", tahoma;
   color: rgb(99, 99, 99);
   font-weight: normal;
}

/* Balls Style */
.ball,
.loveBall {
   width: var(--ballSize);
   height: var(--ballSize);
   border-radius: 50%;
   position: absolute;

   color: rgba(255, 255, 255, 0.438);
   font-family: arial;
   font-size: 20px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
}

.loveBall {
   background: rgb(255, 59, 206);
   box-shadow: 0px 3px 11px 0px rgba(255, 59, 239, 0.84),
      inset 2px -5px 9px rgb(255, 59, 229);

   bottom: 0%;
   left: 92%;
}

.animationBox:hover .loveBall {
   animation: loveBallAnimation;
   animation-duration: var(--animationTime);
   transition: 0.2s all;
   animation-timing-function: ease-in;
}

.ball {
   background: rgb(59, 79, 255);
   box-shadow: 0px 3px 11px 0px rgb(59 79 255 / 84%),
      inset 2px -5px 9px rgb(59, 79, 255);

   bottom: calc((100% - var(--ballSize)) - 30px);
   left: 4.5%;
}

.animationBox:hover .ball {
   animation: moveBall;
   animation-duration: var(--animationTime);
   transition: 0.2s all;
   animation-timing-function: ease-in;
}

/* keyframes for story :) */
@keyframes moveBall {

   /* First Step */
   1% {
      left: 8.5%;
      bottom: calc((100% - var(--ballSize)) - 30px);
   }

   /* Clock 1 */
   5% {
      bottom: 0%;
      left: 10%;
      width: var(--ballSize);
      height: var(--ballSize);

      background: rgb(255, 59, 59);
      box-shadow: 0px 3px 11px 0px rgb(255 109 109 / 84%),
         inset 2px -5px 9px rgb(255 125 125);
   }

   5.5% {
      width: calc((var(--ballSize) * 0.6) + var(--ballSize));
      height: calc(var(--ballSize) - (var(--ballSize) * 0.6));

      font-size: 30px;
      color: rgba(255, 255, 255, 0.712);
   }

   7.5% {
      width: var(--ballSize);
      height: var(--ballSize);
      left: 10%;
      bottom: 0%;

      font-size: 20px;
      color: rgba(255, 255, 255, 0.438);
   }

   12% {
      bottom: 75%;
      left: 20%;
      height: calc((var(--ballSize) * 1.2));
   }

   13% {
      bottom: 75%;
      left: 22%;
   }

   /* Clock 2 */
   17% {
      bottom: 0%;
      left: 32%;
      width: var(--ballSize);
      height: var(--ballSize);
   }

   17.5% {
      width: calc((var(--ballSize) * 0.4) + var(--ballSize));
      height: calc(var(--ballSize) - (var(--ballSize) * 0.4));

      font-size: 30px;
      color: rgba(255, 255, 255, 0.712);
   }

   19.5% {
      width: var(--ballSize);
      height: var(--ballSize);
      bottom: 0%;
      left: 32%;

      font-size: 20px;
      color: rgba(255, 255, 255, 0.438);
   }

   24% {
      bottom: 60%;
      left: 42%;
      height: calc((var(--ballSize) * 1.2));
   }

   25% {
      bottom: 60%;
      left: 44%;
   }

   /* Clock 3 */
   29% {
      bottom: 0%;
      left: 54%;
      width: var(--ballSize);
      height: var(--ballSize);
   }

   29.5% {
      width: calc((var(--ballSize) * 0.2) + var(--ballSize));
      height: calc(var(--ballSize) - (var(--ballSize) * 0.2));

      font-size: 30px;
      color: rgba(255, 255, 255, 0.712);
   }

   31.5% {
      width: var(--ballSize);
      height: var(--ballSize);
      bottom: 0%;
      left: 54%;

      font-size: 20px;
      color: rgba(255, 255, 255, 0.438);
   }

   36% {
      bottom: 35%;
      left: 64%;
      height: calc((var(--ballSize) * 1.2));
   }

   37% {
      bottom: 35%;
      left: 66%;
   }

   /* Clock 4 */
   41% {
      bottom: 0%;
      left: 71%;
      width: var(--ballSize);
      height: var(--ballSize);
   }

   41.5% {
      width: calc((var(--ballSize) * 0.1) + var(--ballSize));
      height: calc(var(--ballSize) - (var(--ballSize) * 0.1));

      font-size: 30px;
      color: rgba(255, 255, 255, 0.712);
   }

   43.5% {
      width: var(--ballSize);
      height: var(--ballSize);
      bottom: 0%;
      left: 71%;

      font-size: 20px;
      color: rgba(255, 255, 255, 0.438);
   }

   48% {
      bottom: 15%;
      left: 76%;
      height: calc((var(--ballSize) * 1.1));
   }

   49% {
      bottom: 15%;
      left: 77%;
   }

   /* Clock 5 */
   53% {
      bottom: 0%;
      left: 80%;
      width: var(--ballSize);
      height: var(--ballSize);
   }

   53.5% {
      width: calc((var(--ballSize) * 0.05) + var(--ballSize));
      height: calc(var(--ballSize) - (var(--ballSize) * 0.05));

      font-size: 30px;
      color: rgba(255, 255, 255, 0.712);
   }

   55.5% {
      width: var(--ballSize);
      height: var(--ballSize);
      bottom: 0%;
      left: 80%;
   }

   60% {
      bottom: 3%;
      left: 83%;
      height: calc((var(--ballSize) * 1.05));
   }

   61% {
      bottom: 3%;
      left: 83.5%;
   }

   /* Clock 6 */
   65% {
      bottom: 0%;
      left: 86.5%;
      width: var(--ballSize);
      height: var(--ballSize);
      opacity: 1;
   }

   85% {
      bottom: 0%;
      left: 92%;
      opacity: 0.5;
   }

   /* Final Step */
   95% {
      bottom: 0%;
      left: 92%;
      opacity: 0;
   }

   100% {
      opacity: 0;
   }
}

@keyframes loveBallAnimation {
   0% {}

   65% {
      opacity: 1;
   }

   85% {
      opacity: 0.5;
   }

   100% {
      opacity: 0;
   }
}